<html>

<body>
    <form action="/insertemp" method="post">
        Employee id:<input type="text" name="empid" id="empid"><br>
        Employee name:<input type="text" name="ename" id="ename"><br>
        salary:<input type="text" name="sal" id="sal"><br>
        <button type="submit" name="btn" id="btn" value="btn">Add employee</button>
    </form>

</body>
</html>