<html>
<body action="/insertEmployee" method="post">
    Employee id:<input type="text" name="empid" id="empid"><br>
    Employee name:<input type="text" name="ename" id="ename"><br>
    Employee salary:<input type="text" name="sal" id="sal"><br>
    <button type="submit" name="but" id="but" value="btn">Add employee</button>
</body>
</html>